@{

    Layout = "/Views/Shared/_Layout.cshtml";
}
@model Cargo.ViewModels.DriversViewModel
<!DOCTYPE html>
<html>
<head>
    <title>"Drivers"</title>
    <style>
        label {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card ">
            <form asp-action="UpdateIndex" method="post" id="form">

                <div class="card-header text-center">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active bg-dark">Поиск</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-action="Create">Добавление</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body " style="margin-bottom: -20px">

                    <div class="form-row">


                         <div class="col">
                            <label for="driverName">Имя</label>
                            <input type="text" class="form-control" id="driverName" name="driverName" value="@Model.FilterDriversViewModel.SelectedDriverName"></input>
                        </div>
                        <div class="col">
                            <label for="passportDetails">Паспорт</label>
                            <input type="text" class="form-control" id="passportDetails" name="passportDetails" value="@Model.FilterDriversViewModel.SelectedPassportDetails"></input>
                        </div>
                        <div class="col">
                            <label for="date">Начальная дата</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" value="@Model.FilterDriversViewModel.SelectedStartDate.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="col">
                            <label for="date">Конечная дата</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" value="@Model.FilterDriversViewModel.SelectedEndDate.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="card-body">
                            <div class="form-row float-right" style="margin-top:10px; margin-bottom:10px">
                                <div class="col">
                                    <input class="btn btn-dark" value="Очистить" type="button" onclick="clearInputs()" />
                                </div>
                                <div class="col">
                                    <input class="btn btn-dark" type="submit" value="Найти" />
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="card " style="margin-top: 20px; margin-bottom:-20px;">

            <table class="table table-border " style="margin-bottom:-1px;">
                <thead class="thead-dark">
                    <tr>
                        <th>DriverId</th>
                        <th>FullName</th>
                        <th>PassportDetails</th>
                        <th>DaysWorked</th>
                        @if (User.IsInRole("admin"))
                        {
                            <th></th>
                            <th></th>
                        }

                    </tr>
                </thead>
                <tbody>

                    @foreach (var driver in Model.Drivers)
                    {

                        DateTime startDate = @Model.FilterDriversViewModel.SelectedStartDate;
                        // Начальная дата периода
                        DateTime endDate = @Model.FilterDriversViewModel.SelectedEndDate;

                        int cargoCount = Model.Cargo.Count(ct => ct.DriverId == driver.DriverId && ct.Date >= startDate && ct.Date <= endDate);
                        <tr>
                            <td>@driver.DriverId</td>
                            <td>@driver.FullName</td>
                            <td>@driver.PassportDetails</td>
                            <td>@cargoCount</td>
                            @if (User.IsInRole("admin"))
                            {
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@driver.DriverId">Изменить</a>
                                </td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@driver.DriverId" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="margin-top: 100px; margin-bottom:100px"></div>
        <nav style="margin-top: 10px; margin-bottom:50px">
            <ul class="pagination justify-content-end">
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber-1)"
                              asp-route-driverName="@(Model.FilterDriversViewModel.SelectedDriverName)"
                              asp-route-passportDetails="@(Model.FilterDriversViewModel.SelectedPassportDetails)"
                              asp-route-endDate="@(Model.FilterDriversViewModel.SelectedEndDate)"
                              asp-route-startDate="@(Model.FilterDriversViewModel.SelectedStartDate)"
                              method="post">

                            <button type="submit" class="page-link">
                                Предыдущая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Предыдущая
                        </button>
                    </li>
                }

                @if (Model.PageViewModel.HasNextPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber+1)"
                              asp-route-driverName="@(Model.FilterDriversViewModel.SelectedDriverName)"
                              asp-route-passportDetails="@(Model.FilterDriversViewModel.SelectedPassportDetails)"
                              asp-route-endDate="@(Model.FilterDriversViewModel.SelectedEndDate)"
                              asp-route-startDate="@(Model.FilterDriversViewModel.SelectedStartDate)"
                              method="post">

                            <button type="submit" class="page-link">
                                Следующая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Следующая
                        </button>
                    </li>
                }
            </ul>
        </nav>
        <div style="margin-top: 100px; margin-bottom:100px"></div>


    </div>
    <script>
        function clearInputs() {
            let driverName = document.getElementById("driverName");
            driverName.value = "";
            let passportDetails = document.getElementById("passportDetails");
            passportDetails.value = "";
            let startDate = document.getElementById("startDate");
            startDate.value = "0001-01-01";
            let endDate = document.getElementById("endDate");
            endDate.value = "2030-01-01";

            let form = document.getElementById("form");
            form.submit();
        }

    </script>
</body>
</html>