@{
    ViewData["Title"] = "Users";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model Cargo.ViewModels.UsersViewModel

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="card">
            <form asp-action="UpdateIndex" method="post" id="form">
                <div class="card-header text-center">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active">Поиск</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Create">Добавление</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-11">
                            <input placeholder="Логин" class="form-control" name="name" value="@Model.FilterUserViewModel.SelectedName" id="name" />
                        </div>
                        <div class="col">
                            <input class="btn btn-info" type="submit" value="Найти" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card" style="margin-top: 10px">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Login</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                                </td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
        <nav style="margin-top: 10px">
            <ul class="pagination justify-content-end">
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber-1)"
                          asp-route-name="@(Model.FilterUserViewModel.SelectedName)" method="post">
                            <button type="submit" class="page-link">
                                Предыдущая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Предыдущая
                        </button>
                    </li>
                }
                @if (Model.PageViewModel.HasNextPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber+1)"
                          asp-route-name="@(Model.FilterUserViewModel.SelectedName)" method="post">
                            <button type="submit" class="page-link">
                                Следующая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Следующая
                        </button>
                    </li>
                }
            </ul>
        </nav>
    </div>
</body>
</html>