@{

    Layout = "/Views/Shared/_Layout.cshtml";
}
@model Cargo.ViewModels.SettlementsViewModel
<!DOCTYPE html>
<html>
<head>
    <title>"Settlements"</title>
    <style>
        label {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card ">
            <form asp-action="UpdateIndex" method="post" id="form">

                <div class="card-header text-center">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active bg-dark">Поиск</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-action="Create">Добавление</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body " style="margin-bottom: -20px">

                    <div class="form-row">


                         <div class="col">
                            <label for="settlementName">Название</label>
                            <input type="text" class="form-control" id="settlementName" name="settlementName" value="@Model.FilterSettlementsViewModel.SelectedSettlementName"></input>
                        </div>
                

                        <div class="card-body">
                            <div class="form-row float-right" style="margin-top:10px; margin-bottom:10px">
                                <div class="col">
                                    <input class="btn btn-dark" value="Очистить" type="button" onclick="clearInputs()" />
                                </div>
                                <div class="col">
                                    <input class="btn btn-dark" type="submit" value="Найти" />
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="card " style="margin-top: 20px; margin-bottom:-20px;">

            <table class="table table-border " style="margin-bottom:-1px;">
                <thead class="thead-dark">
                    <tr>
                        <th>SettlementId</th>
                        <th>SettlementName</th>

                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var settlement in Model.Settlements)
                    {
                        <tr>
                            <td>@settlement.SettlementId</td>
                            <td>@settlement.SettlementName</td>

                            <td>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@settlement.SettlementId">Изменить</a>
                            </td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@settlement.SettlementId" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="margin-top: 100px; margin-bottom:100px"></div>
        <nav style="margin-top: 10px; margin-bottom:50px">
            <ul class="pagination justify-content-end">
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber-1)"
                              asp-route-settlementName="@(Model.FilterSettlementsViewModel.SelectedSettlementName)"
                              method="post">

                            <button type="submit" class="page-link">
                                Предыдущая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Предыдущая
                        </button>
                    </li>
                }

                @if (Model.PageViewModel.HasNextPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber+1)"
                              asp-route-settlementName="@(Model.FilterSettlementsViewModel.SelectedSettlementName)"
                              method="post">

                            <button type="submit" class="page-link">
                                Следующая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Следующая
                        </button>
                    </li>
                }
            </ul>
        </nav>
        <div style="margin-top: 100px; margin-bottom:100px"></div>


    </div>
    <script>
        function clearInputs() {
            let settlementName = document.getElementById("settlementName");
            settlementName.value = "";



            let form = document.getElementById("form");
            form.submit();
        }
    </script>
</body>
</html>