@{

    Layout = "/Views/Shared/_Layout.cshtml";
}
@model Cargo.ViewModels.TransportationTariffsViewModel
<!DOCTYPE html>
<html>
<head>
    <title>"TransportationTariffs"</title>
    <style>
        label {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card ">
            <form asp-action="UpdateIndex" method="post" id="form">

                <div class="card-header text-center">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active bg-dark">Поиск</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-action="Create">Добавление</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body " style="margin-bottom: -20px">
                    
                    <div class="form-row">

                        
                        <div class="col">
                            <label for="transportationTariff">Тариф от</label>
                            <input type="number" class="form-control" id="startTariff" name="startTariff" value="@Model.FilterTransportationTariffsViewModel.SelectedStartTransportationTariff"></input>
                        </div>
                        <div class="col">
                            <label for="transportationTariff">Тариф до</label>
                            <input type="number" class="form-control" id="endTariff" name="endTariff" value="@Model.FilterTransportationTariffsViewModel.SelectedEndTransportationTariff"></input>
                        </div>
                       
                        <div class="card-body">
                            <div class="form-row float-right" style="margin-top:10px; margin-bottom:10px">
                                <div class="col">
                                    <input class="btn btn-dark" value="Очистить" type="button" onclick="clearInputs()" />
                                </div>
                                <div class="col">
                                    <input class="btn btn-dark" type="submit" value="Найти" />
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="card " style="margin-top: 20px; margin-bottom:-20px;">
            
                <table class="table table-border " style="margin-bottom:-1px;">
                    <thead class="thead-dark">
        <tr>
            <th>TransportationTariffID</th>
            <th>TariffPer(t*km)</th>
            <th>TariffPer(m^3*km)</th>
            @if (User.IsInRole("admin"))
                        {
                            <th></th>
                            <th></th>
                        }
        </tr>
                    </thead>
                    <tbody>

        @foreach (var tariff in Model.TransportationTariffs)
        {
            <tr>
                <td>@tariff.TransportationTariffId</td>
                <td>@tariff.TariffPerTKm</td>
                <td>@tariff.TariffPerM3Km</td>
                            @if (User.IsInRole("admin"))
                            {
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@tariff.TransportationTariffId">Изменить</a>
                                </td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@tariff.TransportationTariffId" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
        }
                    </tbody>
                </table>
    </div>
        <div style="margin-top: 100px; margin-bottom:100px"></div>
        <nav style="margin-top: 10px; margin-bottom:50px">
            <ul class="pagination justify-content-end">
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber-1)"
                              asp-route-endTariff="@(Model.FilterTransportationTariffsViewModel.SelectedEndTransportationTariff)"
                              asp-route-startTariff="@(Model.FilterTransportationTariffsViewModel.SelectedStartTransportationTariff)"
                              method="post">
                            
                            <button type="submit" class="page-link">
                                Предыдущая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Предыдущая
                        </button>
                    </li>
                }

                @if (Model.PageViewModel.HasNextPage)
                {
                    <li class="page-item">
                        <form asp-action="UpdateIndex" asp-route-page="@(Model.PageViewModel.PageNumber+1)"
                              asp-route-endTariff="@(Model.FilterTransportationTariffsViewModel.SelectedEndTransportationTariff)"
                              asp-route-startTariff="@(Model.FilterTransportationTariffsViewModel.SelectedStartTransportationTariff)"
                              method="post">
                            
                            <button type="submit" class="page-link">
                                Следующая
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <button type="submit" class="page-link">
                            Следующая
                        </button>
                    </li>
                }
            </ul>
        </nav>
        <div style="margin-top: 100px; margin-bottom:100px"></div>


    </div>
    <script>
        function clearInputs() {
            let startTariff = document.getElementById("startTariff");
            startTariff.value = 0;
            let endTariff = document.getElementById("endTariff");
            endTariff.value = 10000;


            let form = document.getElementById("form");
            form.submit();
        }
    </script>
</body>
</html>